<!--Start Content-animation  -->

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="animation-part section-{{ section.id }}-padding" style="background-color:{{ section.settings.background }};color:{{ section.settings.color }};">
  <div class="animation-items page-width">
<div class="rtoo">

<wrapper>
<div id="Animation-front">
<div class="up-down"> <p>{{ section.settings.title }}</p>
<p>  <b>
   <span class="span1" style="color:{{ section.settings.animation-text }};">
     &nbsp; Shopify Experts Agenc<br/>
    &nbsp;developer<br/> 
    &nbsp;web designer<br/>
    &nbsp;place holder#1<br/>
    &nbsp;place holder#2
   </span>
  </b></p>
  {{ section.settings.content }}</div>
  </div>
</wrapper>
</div>
</div>
</div>

<!-- End Content-animation  -->


{% style %}
  wrapper{
  width: 1080px;
    
}
.animation-part p{margin:0;}
  
b {
  overflow: hidden;
  position: relative;
  height:65px;
     display: block;
}
.up-down {
    text-align: center;
    font-size: 20px; text-transform: capitalize;
}

.animation-part {  font-family:Poppins, sans-serif;} 
   
.span1 {
  display: inline-block;

  position: relative;
  white-space: nowrap;
  animation: move 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  font-size:45px;
  letter-spacing: 2px;  font-family:Poppins, sans-serif;    line-height:1.5;
}
@keyframes move {
  0%  { top: 0px; }
  20% { top: -70px; }
  40% { top: -140px; }
  60% { top: -210px; }
  60% { top: -150px; }
  80% { top: -0px;}
  80% { top: -0px;}
}
{% endstyle %}


{% schema %}
  {
    "name": "Content Animation",
    "settings": [
      {
        "type": "inline_richtext",
        "id":"title",
        "label":"Title"
      },
      {
        "type": "richtext",
        "id":"content",
        "label":"Content"
      },
      {
        "type": "color",
        "id":"background",
        "label":"Background Color"
      },
      {
        "type": "color",
        "id":"color",
        "label":"Color Text"
      },
      {
        "type": "color",
        "id":"animation-text",
        "label": "Animation Text Color"
      },
      {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name":"Content Animation"
      }
    ]
  }
{% endschema %}