<!-- Start content-image  -->


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="content-image-part section-{{ section.id }}-padding" style="background-image:{{ section.settings.background }};color:{{ section.settings.color }};">
<div class="page-width">
<div class="content-block">
<div class="content-left">
<h4>{{ section.settings.sub-heading }}</h4>
<h2>{{ section.settings.heading }}</h2>  

{{ section.settings.content }}
  
{% if section.settings.button_label != blank %}
<a  href="{{ section.settings.button_link }}" class="qut-button">{{ section.settings.button_label }}</a>
{% endif %}  
</div>

<div class="content-right">

<div class="image-part-right">
{% if section.settings.image != blank %}  
<img src="{{ section.settings.image | image_url:width:auto }}">
{% endif %}
</div>
  
</div>  

</div>

</div>  
</div>
<!-- End content-image  -->
{% schema %}
  {
    "name": "Content Image",
    "class":"content-image-main",
    "settings": [
      {
        "type": "image_picker",
        "id":"image",
        "label": "Image"
      },
      {
        "type": "inline_richtext",
        "id":"sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "inline_richtext",
        "id":"heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id":"content",
        "label": "Content"
      },
      {
        "type": "text",
        "id":"button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id":"button_link",
        "label": "Button Link"
      },
      {
  "type": "color_background",
  "id": "background",
  "label": "Background",
  "default": "linear-gradient(#ffffff, #000000)"
},
      {
        "type": "color",
        "id":"color",
        "label": "Color Text"
      },
      {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Content Image"
      }
    ]
  }
{% endschema %}