{% style %}

.countdown-main{
      background-color: #fc8a03;  padding:10px 0;
}
  
.page-width {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.page-width ul{
   padding:0; margin:0;
}

li {
  display: inline-block;
  font-size:14px;
  list-style-type: none;
  padding:0 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size:14px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
{% endstyle %}

{% if section.settings.countdown_enable %}
<div class=" timer-sale" style="background-color:{{ section.settings.background }};">
            <countdown-timer
              data-year="{{ section.settings.year }}"
              data-month="{{ section.settings.month }}"
              data-day="{{ section.settings.day }}"
              data-hour="{{ section.settings.hour }}"
              data-minute="{{ section.settings.minute }}"
              data-hide-timer="{{ section.settings.hide_timer }}"
              data-complete-message="{{ section.settings.text }}"
            >
              <div class="countdown__display countdown__display--visible" data-time-display style="color:{{ section.settings.countdown-timer }};">
                <div class="countdown__display-block">
                  <h2 class="h3" date-days-placeholder>   </h2><span class="dot-coundown">:</span>
                 
                </div>
                <div class="countdown__display-block">
                  <h2 class="h3" date-hours-placeholder>   </h2><span class="dot-coundown">:</span>
                 
                </div>
                <div class="countdown__display-block">
                  <h2 class="h3" date-minutes-placeholder>   </h2><span class="dot-coundown">:</span>
                
                </div>
                <div class="countdown__display-block">
                  <h2 class="h3" date-seconds-placeholder>   </h2>
                 
                </div>
              </div>
              {% if section.settings.text != blank %}
                <div class="countdown__timer-message" data-message-placeholder>{{ block.settings.text }}</div>
              {% endif %}
            </countdown-timer>
  <div class="timer-text"style="color:{{ section.settings.title-color }};">
{{ section.settings.title }}
  </div>
          </div>
{% endif %}
<script>
  /*============================================================================
    CountdownTimer
  ==============================================================================*/
  
  class CountdownTimer extends HTMLElement {
    constructor() {
      super();
      this.el = this;
      this.display = this.querySelector('[data-time-display]');
      this.block = this.closest('.countdown__block--timer');
      this.year = this.el.dataset.year;
      this.month = this.el.dataset.month;
      this.day = this.el.dataset.day;
      this.hour = this.el.dataset.hour;
      this.minute = this.el.dataset.minute;
      this.daysPlaceholder = this.querySelector('[date-days-placeholder]');
      this.hoursPlaceholder = this.querySelector('[date-hours-placeholder]');
      this.minutesPlaceholder = this.querySelector('[date-minutes-placeholder]');
      this.secondsPlaceholder = this.querySelector('[date-seconds-placeholder]');
      this.messagePlaceholder = this.querySelector('[data-message-placeholder]');
      this.hideTimerOnComplete = this.el.dataset.hideTimer;
      this.completeMessage = this.el.dataset.completeMessage;
  
      this.timerComplete = false;
  
      this.init();
    }
  
    init() {
      setInterval(() => {
        if (!this.timerComplete) {
          this._calculate();
        }
      }, 1000);
  
    }
  
    _calculate() {
      // Find time difference and convert to integer
      const timeDifference = +new Date(`${this.month}/${this.day}/${this.year} ${this.hour}:${this.minute}:00`).getTime() - +new Date().getTime();
      // If time difference is greater than 0, calculate remaining time
      if (timeDifference > 0) {
        const intervals = {
          days: Math.floor(timeDifference / (1000 * 60 * 60 * 24)),
          hours: Math.floor((timeDifference / (1000 * 60 * 60)) % 24),
          minutes: Math.floor((timeDifference / 1000 / 60) % 60),
          seconds: Math.floor((timeDifference / 1000) % 60),
        };
  
        this.daysPlaceholder.innerHTML = intervals.days;
        this.hoursPlaceholder.innerHTML = intervals.hours;
        this.minutesPlaceholder.innerHTML = intervals.minutes;
        this.secondsPlaceholder.innerHTML = intervals.seconds;
      } else {
        if (this.completeMessage && this.messagePlaceholder) {
          this.messagePlaceholder.classList.add('countdown__timer-message--visible');
        }
  
        if (this.hideTimerOnComplete === 'true') {
          this.display.classList.remove('countdown__display--visible');
          this.display.classList.add('countdown__display--hidden');
        }
  
        if (!this.completeMessage && this.hideTimerOnComplete === 'true') {
          this.block.classList.add('countdown__block--hidden');
        }
  
        this.timerComplete = true;
      }
    }
  }
  
  customElements.define('countdown-timer', CountdownTimer);
 
  
</script>




{% schema %}
  {
    "name": "Countdown",
    "settings": [
      {
        "type": "checkbox",
        "id":"countdown_enable",
        "label":"Countdown enable"
      },
      {
          "type": "select",
          "id": "year",
          "label": "Year",
          "default": "2025",
          "options": [
            {
              "value": "2023",
              "label": "2023"
            },
            {
              "value": "2024",
              "label": "2024"
            },
            {
              "value": "2025",
              "label": "2025"
            },
            {
              "value": "2026",
              "label": "2026"
            }
          ]
        },
        {
          "type": "select",
          "id": "month",
          "label": "Month",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "January"
            },
            {
              "value": "02",
              "label": "February"
            },
            {
              "value": "03",
              "label": "March"
            },
            {
              "value": "04",
              "label": "April"
            },
            {
              "value": "05",
              "label": "May"
            },
            {
              "value": "06",
              "label": "June"
            },
            {
              "value": "07",
              "label": "July"
            },
            {
              "value": "08",
              "label": "August"
            },
            {
              "value": "09",
              "label": "September"
            },
            {
              "value": "10",
              "label": "October"
            },
            {
              "value": "11",
              "label": "November"
            },
            {
              "value": "12",
              "label": "December"
            }
          ]
        },
        {
          "type": "select",
          "id": "day",
          "label": "Day",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            },
            {
              "value": "9",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ]
        },
        {
          "type": "select",
          "id": "hour",
          "label": "Hour",
          "default": "03",
          "options": [
            {
              "value": "00",
              "label": "12AM"
            },
            {
              "value": "01",
              "label": "01AM"
            },
            {
              "value": "02",
              "label": "02AM"
            },
            {
              "value": "03",
              "label": "03AM"
            },
            {
              "value": "04",
              "label": "04AM"
            },
            {
              "value": "05",
              "label": "05AM"
            },
            {
              "value": "06",
              "label": "06AM"
            },
            {
              "value": "07",
              "label": "07AM"
            },
            {
              "value": "08",
              "label": "08AM"
            },
            {
              "value": "09",
              "label": "09AM"
            },
            {
              "value": "10",
              "label": "10AM"
            },
            {
              "value": "11",
              "label": "11AM"
            },
            {
              "value": "12",
              "label": "12PM"
            },
            {
              "value": "13",
              "label": "01PM"
            },
            {
              "value": "14",
              "label": "02PM"
            },
            {
              "value": "15",
              "label": "03PM"
            },
            {
              "value": "16",
              "label": "04PM"
            },
            {
              "value": "17",
              "label": "05PM"
            },
            {
              "value": "18",
              "label": "06PM"
            },
            {
              "value": "19",
              "label": "07PM"
            },
            {
              "value": "20",
              "label": "08PM"
            },
            {
              "value": "21",
              "label": "09PM"
            },
            {
              "value": "22",
              "label": "10PM"
            },
            {
              "value": "23",
              "label": "11PM"
            }
          ]
        },
        {
          "type": "select",
          "id": "minute",
          "label": "Minute",
          "default": "00",
          "options": [
            {
              "value": "00",
              "label": "00"
            },
            {
              "value": "01",
              "label": "01"
            },
            {
              "value": "02",
              "label": "02"
            },
            {
              "value": "03",
              "label": "03"
            },
            {
              "value": "04",
              "label": "04"
            },
            {
              "value": "05",
              "label": "05"
            },
            {
              "value": "06",
              "label": "06"
            },
            {
              "value": "07",
              "label": "07"
            },
            {
              "value": "08",
              "label": "08"
            },
            {
              "value": "09",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            },
            {
              "value": "32",
              "label": "32"
            },
            {
              "value": "33",
              "label": "33"
            },
            {
              "value": "34",
              "label": "34"
            },
            {
              "value": "35",
              "label": "35"
            },
            {
              "value": "36",
              "label": "36"
            },
            {
              "value": "37",
              "label": "37"
            },
            {
              "value": "38",
              "label": "38"
            },
            {
              "value": "39",
              "label": "39"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "41",
              "label": "41"
            },
            {
              "value": "42",
              "label": "42"
            },
            {
              "value": "43",
              "label": "43"
            },
            {
              "value": "44",
              "label": "44"
            },
            {
              "value": "45",
              "label": "45"
            },
            {
              "value": "46",
              "label": "46"
            },
            {
              "value": "47",
              "label": "47"
            },
            {
              "value": "48",
              "label": "48"
            },
            {
              "value": "49",
              "label": "49"
            },
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "51",
              "label": "51"
            },
            {
              "value": "52",
              "label": "52"
            },
            {
              "value": "53",
              "label": "53"
            },
            {
              "value": "54",
              "label": "54"
            },
            {
              "value": "55",
              "label": "55"
            },
            {
              "value": "56",
              "label": "56"
            },
            {
              "value": "57",
              "label": "57"
            },
            {
              "value": "58",
              "label": "58"
            },
            {
              "value": "59",
              "label": "59"
            },
            {
              "value": "60",
              "label": "60"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "hide_timer",
          "label": "Hide timer on complete",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Timer complete message"
        },
      {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
      {
        "type": "header",
        "content": "Color"
      },
      {
      "type":"color",
      "id":"countdown-timer",
      "label":"Cuntdown Timer Color"
    },
      {
      "type":"color",
      "id":"background",
      "label":"Background Cuntdown Timer"
    },
      {
      "type":"color",
      "id":"title-color",
      "label":"Title Color"
    }
      
    ],
    "presets": [
      {
        "name": "Countdown"
      }
    ]
  }
{% endschema %}