<!-- Start review  -->


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="customer-min section-{{ section.id }}-padding" style="background-color:{{ section.settings.background }}; color:{{ section.settings.color }}; ">
        <div>
            <div class="customer-title">
                <p> <span>o</span>{{ section.settings.sub-heading }}</p>
                <h2 class="h1">{{ section.settings.heading }}</h2>
            </div>
            <div class="customer-slider customer-slider-min">

             {%- for block in section.blocks -%}
                <div class="customer-items">
                    <div class="customer-items-text">
                        <div class="customer-items-left">
                            <h4>{{ block.settings.title-1 }}</h4>
                            <p>{{ block.settings.title-2 }}</p>
                        </div>
                        <div class="customer-items-right">
                            <span style="display: flex; width: 130px;height: auto;gap:3px;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18" aria-hidden="true" focusable="false"><path d="M20.83,9.15l-6-.52L12.46,3.08h-.92L9.18,8.63l-6,.52L2.89,10l4.55,4L6.08,19.85l.75.55L12,17.3l5.17,3.1.75-.55L16.56,14l4.55-4Z" fill:#000;=""></path></svg>
                               
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18" aria-hidden="true" focusable="false"><path d="M20.83,9.15l-6-.52L12.46,3.08h-.92L9.18,8.63l-6,.52L2.89,10l4.55,4L6.08,19.85l.75.55L12,17.3l5.17,3.1.75-.55L16.56,14l4.55-4Z"></path></svg>
                               
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18" aria-hidden="true" focusable="false"><path d="M20.83,9.15l-6-.52L12.46,3.08h-.92L9.18,8.63l-6,.52L2.89,10l4.55,4L6.08,19.85l.75.55L12,17.3l5.17,3.1.75-.55L16.56,14l4.55-4Z"></path></svg>
                               
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18" aria-hidden="true" focusable="false"><path d="M20.83,9.15l-6-.52L12.46,3.08h-.92L9.18,8.63l-6,.52L2.89,10l4.55,4L6.08,19.85l.75.55L12,17.3l5.17,3.1.75-.55L16.56,14l4.55-4Z"></path></svg>
                               
                                
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18" aria-hidden="true" focusable="false"><path d="M20.83,9.15l-6-.52L12.46,3.08h-.92L9.18,8.63l-6,.52L2.89,10l4.55,4L6.08,19.85l.75.55L12,17.3l5.17,3.1.75-.55L16.56,14l4.55-4Z"></path></svg>
                               
                               </span>
                        </div>
                    </div>
                    {{ block.settings.content }}
                </div>


{% endfor %}


            </div>
        </div>
    </div>




<!-- End  review   -->
{% schema %}
  {
    "name": "Review",
    "settings": [
      {
        "type": "inline_richtext",
        "id":"sub-heading",
        "label":"Sub Heading"
      },
      {
        "type": "inline_richtext",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type": "color",
        "id":"background",
        "label":"Background Color"
      },
      {
        "type": "color",
        "id":"color",
        "label":"Color"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "blocks": [
      {
        "type": "section",
        "name":"Block",
        "settings": [
          {
        "type": "inline_richtext",
        "id":"title-1",
        "label":"Title"
      },
          {
        "type": "inline_richtext",
        "id":"title-2",
        "label":"Caption"
      },
          {
        "type": "richtext",
        "id":"content",
        "label":"Content"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review"
      }
    ]
  }
{% endschema %}